language: python
python: '3.6'
sudo: false
addons:
  apt:
    packages:
    - python-pip
install:
- pip install ansible==2.3.0 molecule[gce] apache-libcloud
- ansible --version
env:
  matrix:
  - GCE_CREDENTIALS_FILE="$(pwd)/credentials.json"
  global:
  - secure: S5cuHz2sLgy/4+To8iQyjCgFDOlNObO10w/XGHEGiFQG5bdO5wlhFvRCtriysX3nEsRK/Vmjit51pRfz9Nm2rwU6niESHjlSfp3qa1/JqbkYK9EoQQWbNl/gWoXrjnKRnheu8XjVO+w3tNDPM8dPmqGyBOuZo8SeFlK8O8NIMyPAHnyDM7TnUucAlHbvhoRNcq1lciC7ZNL+agY1WG/7WLJ6rhd6NCtUCoLiM5wLl3RlO3Mm9Wt1nJ6aDzWMuaXJxlTVKEZYvOCAseDe/y6soOQEBQyqjYZXlnTWAviH04+mv0eQFh5RdvLOCl0bVmL9NzL/Zd2zRsL4iW3rSs6CSml1UtsqFpRz655ILiv17O4VlEXImEPfPptDykzj8ONWBBZXqeC1Davh/yC/afbGhSYY3tt0eGz7qG2d2sadjYKa4rkLG06M45dfr7TT/CyB2Ho/+KI4ijjdlzwbuiMSNJ1hnTGMjyGCkn1xGGpm6dUZEIhxlr0/O3S8dLkSxYZbxP8yE6VJZRYiQokerORnlIEZQx7fdm8+mcI7yI9JLgWWSzbwkUami0a+vsPlOKWoNYLzp1Nxs7zYFYgDtok67vQA909RH7LutRn6y9Izj8Ms2BJxir7VMDNTJa0AWCFzrSdSS5LsnUlu3j1CFicMMBRCE+1BbOE/+vqU6Jcbtts=
  - secure: T9Uvhgfu4DQxFcdF0j6Fxz/LaByDRvfbkMpa0y0z8euEFatp/pn2CaQFXfunWFzJBUvtAJB62JmaYuG1hc6Hx3g729dgXWZ2UOZeC9a6FnaK7b1bRD7PjyVC2/1SMHm7AemjyZlP1q3Q1p3Hb6DfaSOwmiJddJeHwiP42anEg5Qj12fCoOiA3xMj0QNJl+v+uB0iu+afD4U0QALkNH24NBBY5WuHZTB3b0NIPAeAlaZysZjX5ecHFl/5yTr8R2DE+5hZ6aZPGGQQmoRdhn/VDTFTUbumA+2VcC2WY0vzWZBbzDvhQLF5jKWZAKngM6kwr6vw4OFfYAUltwekgVqf+l5C0BQnQnrOecVeYDHcnsIsH18Dp9HtQDNN5WScdLpwpjYZIxoLIcj45TDPBN/HR+AXldzqqJO+dKFUgBLTa8Z1HpkVoiZ6alh1lY4SDkNEpaibP6Kdrjucp0I9O5ZhB4EsdJlilEkWndjRo9YYsHd5viMI9jXhxr9WlYs2RJ4EQ3KHIie3FfZuWjy3mVxKs1xfkfxd202wYS+KbYZqa1C9azgvpXwPm9p3xLwwKnCmb9TUApvOdHboXdgkYf1kAo4ykANCRqtzfuPJeuOBEt4S2MAsDHbXxA9UPJhIYfALOu/TLS7a45P2iFxtfJ0Inuxfwo7bRt/rxYSGC+dAJlQ=
  - secure: HS9pvT3PdTYpI6DgCQJlRWJO4KrZxwzVnM/4kum6NPGJMMO4qQjZTS767kxFMvt44Zpp84IeMNKoYHFA/FDhS2S+0yFBpCiWkmO41Y7hJNLtvXHCca0NDVoQAcdZUCiBtcV8ldCov/AuKe4/LZlDZ4weHRIZfjGgeYGKUpBB5cp9s/Up1TCuferWM7vFGB9AeTvwveLpsxw0vboUZG2c1nnDXOqUcuswAZ9S9RVQ8MqwW3Y+Z9gsDLo5+bL0ZDWJ9oOgwVyoz+qNAvTOTWEV4GLBw8VZM0JNazyNDRwX8YQCIfVNjSaBgdiZ2EsGInat/CW3XviEVHwsLx6CtXclbciNiXs5ssz5KxXqlVzHczaK9zZrhFyx4xI6bd5sYWdhuZqWJz8d5YA0gm0OOnWJsyd/8pqFlgyvPQjYx9L+fSAcAuDkqAu7VAGGRH3epzPP93ISacVyIyfvvOydGHSOAupq9QgopR9k88yKtVdx1+4VXD8zSj+vBrqK48BVK8yXInoyScVYijv7FVLw+6tgzg0SILd2mCuq47hqq5oNWCNDDMR1sa+gvyB03yVDsMBGXfKIgpON6sK9EPj0gyeNg6+Akct5geQVrowYzSHLh0sTY/VJ6I81GH3DMZvT+hMw+fYCOI4v8OgB405TPOokEHSmF20l0ayKlD4VXGvDVSc=
script:
- molecule create
- molecule --debug converge
- molecule --debug verify
after_script:
- molecule --debug destroy
before_install:
- openssl aes-256-cbc -K $encrypted_3b9f0b9d36d1_key -iv $encrypted_3b9f0b9d36d1_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv google_compute_engine /home/travis/.ssh/
- chmod 0600 /home/travis/.ssh/google_compute_engine
notifications:
  slack:
    rooms:
      secure: oyaq/R3uzmB7ZqEbwUQnGqUANcG9CY6cNAVeUheLbR4mXp92tUCuALrBkyzQDDTo4HEddeIt4z0uBRytWhDBESikUaLUYlWYKRgiBdIhHNrpE8yh36oZ/Ze1h/Q9awMvjrN5RD4uYU1snTXhjZx1rrvCDf9/eSbM92qHx1nP6NczGZ3jLihp9c9omZQfKL2p8VfGRsFAX26TB1YQu4cLDyA+vCPJCde0LW0m75Fi4X74UYTVAqqbdE/tTluB+5e3sypUKMRfkqUu+I9vypfyzrBHAIuMfBKc8rkR06jEekoc3TSiMb3gDl682tGLpjszxzoV9Am6ryKh5qIdPk3epLBg5jHbciLUt0N1DlwAK+5nicy8gaXDf9uCkSjKB/chIS65CFaeGd+hW3FRc42Vn6P1OcWN2ZCJYhugmT0XJp2cmaV2Lsr0GMWxLPYQCiORL6Foc/y/MiIZLACcOg4VFrqel+NZEKnKVwuVZNrkraQ8uJeFiKBNf2DtR/eiVrKwaCiTksoDzEznHstY/omr6pZeUZV032A3ZyTHgmyIuqC8Kmf4IscSN5PSxy4KS2nKuSd+4p/B6gQT3KIZBCTukdeMJNDL+UKW/wygGNA0fqeSJG5uWt0LNNSxOgcDnkCk7SOcs7MZrcjgiPJUPGOlR5tV7FFqhry49t+FMhpIsRI=
